<div class="container">
	<img src="../assets/logo.png" alt="">
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="#">WYPOŻYCZALNIA FILMÓW</a>
		</div>
		<ul class="nav navbar-nav">
		  <li><a routerLink="/" routerLinkActive="active">Strona główna</a> </li>
		  <li><a routerLink="/add-new-order" routerLinkActive="active">Dodaj nowe zamówienie</a> </li>
		  <li><a routerLink="/list-orders" routerLinkActive="active">Lista zamówień</a> </li>
		</ul>
	  </div>
	</nav>
	<div>
		<router-outlet></router-outlet>
	</div>
</div>